<div class="clima-container">
  <div class="card">
    <div class="imgTitle">
      @let clima = (dadosClima()!.weather[0]);
      <img class="nuvem"
          [src]="'https://openweathermap.org/img/wn/' + clima?.icon + '@2x.png'"
          alt="Ícone do clima" />
    </div>
    <h1 class="city">{{ dadosClima()?.name }}</h1>

    <h3 class="temp">
      {{ dadosClima()?.main?.temp | number: '1.0-0' }}°C
    </h3>
    <div class="minmax">
      <p class="min">Min: {{ dadosClima()?.main?.temp_min | number: '1.0-0' }}°C</p>
      <p class="max">Max: {{ dadosClima()?.main?.temp_max | number: '1.0-0' }}°C</p>
    </div>
    <div class="imgTitle">
      @if (dadosClima()) {
        <p class="desc">{{ clima?.description | titlecase }}</p>
      }
    </div>

    <button (click)="navegarParaTelaTelaPesquisa()">
      Pesquisar
    </button>
  </div>
</div>
